.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 40px;

}
.nav-mid{
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
}
